'%Teste':
quarkus:
  datasource:
    db-kind: postgresql
    username: kfka_produto
    password: kfka-produto123
    reactive:
      url: postgresql://0.0.0.0:5432/produto-kfka
kafka:
  bootstrap:
    servers: localhost:9092
mp:
  messaging:
    # to kafka
    outgoing:
      produto-nome-out:
        connector: smallrye-kafka
        topic: produto-nome
        value:
           serializer: org.apache.kafka.common.serialization.StringSerializer
    # from kafka
    incoming:
      produto-nome-in:
        connector: smallrye-kafka
        topic: produto-nome
        value:
          deserializer: org.apache.kafka.common.serialization.StringDeserializer